<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
   <div class="container">
       <div class="row">
           <div class="col">
               <h1>Timestamp Microservice</h1>
               <div class="row">
                   <div class="col-2">
                       <img src="https://rogerminton.com/images/RogerMinton_About.jpg" height="250">
                   </div>
                   <div class="col">
                       Hello! My name is Roger and I've been building small projects for different <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a> challenges.
                       <br>
                       This timestamp service was built for the challenge for the APIs and Microservices Projects.
                   </div>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col">
               <h3>How to use this service</h3>
               <ul>
                   <li><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a></li>
                   <li><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></li>
               </ul>
               <h3>Example Output</h3>
               <p>
                   <code>
                       {"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}
                   </code>
               </p>
           </div>
       </div>
   </div>
   <footer class="footer mt-auto py-3">
       <div class="container">
           <span class="text-muted">Created by Roger Minton for a challenge on <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a></span>
       </div>
   </footer>
  </body>
</html>
